In this notebook we will discuss the following:
    
1) Input and output functions

2) Single and multi-line comments

3) Multi line statement

4) stdout using print

5) formatted printing

6) stdin using raw_input

7) Reading from and writing to text file

8) Changing and obtaining file handler's position in text file

In [3]:
a = 4
print (a) # a simple print statement

4

In [4]:
print ('the value of a is: ', a)

('the value of a is: ', 4)

In [9]:
print 'the value of a is %d' %a # %d integer, %f float, %s string

the value of a is 4

In [10]:
# Single line comment in Python should start with # 

'''
Multiple line comments should either start and end with three single 
quotes or start and end with three double quotes.
'''
# or

"""
Multiple line comments should either start and end with three single 
quotes or start and end with three double quotes.
"""

'\nMultiple line comments should either start and end with three single \nquotes or start and end with three double quotes.\n'

In [11]:
'''
Multi-line statements can be indicated by '\' at the end of each line except 
for the last line

total = item_one + \
        item_two + \
        item_three

'''
a = 4 + \
    5 + \
    10 


print ('the value is: %d' %a) # this is an example of a formatted print
print (a)
print (a + 1)

the value is: 19
19
20

In [12]:
# stringA.upper() converts stringA to uppercase
a = 'apple'
print (a.upper())

APPLE

In [13]:
# stringA.lower() converts stringA to lowercase
a = 'Hyderabad'
print (a.lower())
# print (dir(a)) ## check methods can be used for a
print (a.title()) ## a is string as an object, and an object has lots of functions

b = 'BANANA'
print (b.lower())

hyderabad
Hyderabad
banana

In [14]:
# formatted printing
print ('{0} and {1}'.format('san jose','santa clara'))

san jose and santa clara

In [15]:
print ('{0} and {1}'.format('san jose')) # fails as we need to provide two values

IndexError: tuple index out of range

In [16]:
print ('{0}'.format('san jose','santa clara'))
# the first value in the list will be printed

san jose

In [17]:
print ('{nearcity} and {farcity}'.format(farcity='Sacramento',nearcity='San jose'))

San jose and Sacramento

In [18]:
import math 
print ('PI = %0.5f, %s' %(math.pi, b)) # The () is optional for one input but a must for two inputs

PI = 3.14159, BANANA

In [22]:
a = 5
b = 3.25
c = '5.6'
print ('a = %03d b = %0.3f c = %s' %(a,b,c))

a = 005 b = 3.250 c = 5.6

In [24]:
'''
raw_input() gets input from the command line.
In this example, we are getting the input from the user and assigning it 
to variable s.
'''
s = raw_input('Enter a name : ')
print (s)

Enter a name : dd
dd

In [26]:
a = 'r'
b = 2 #str(2)
print (a+b) # no assumptions , will have error if add two types together, python will not convert the lower type to upper type for you

TypeError: cannot concatenate 'str' and 'int' objects

In [28]:
'''
In-class activity: Can you insert a space between r and 2? If yes, then implement it. 
'''
c = ' '
b = str(2)
print (a+c+b)

r 2

In [29]:
'''
In-class activity: Can you ask the user to enter an integer greater than 50. 
Then print the value and also its type.
'''
i = raw_input('Enter an integer greater than 50: ') ## user input will be string, you have to convert it to integer yourself
print(i, type(i))
j = int(i)
print(j, type(j))

Enter an integer greater than 50: 66
('66', <type 'str'>)
(66, <type 'int'>)

In [ ]:
'''
Note - Go to for-loop iPython notebook. 
'''

In [30]:
# f is a filehandler
f = open('python_list.txt')
# readlines reads one line at a time from the file
# Syntax filehandle.readlines()
for line in f.readlines():
    print line.strip() 
# strip removes newline, carriage return, space etc at the beginning and 
# at the end of the line
f.close()

dogs

frogs


bogs

logs



lots

In [31]:
# f is a filehandler
f = open('python_list.txt')
# readlines reads one line at a time from the file
# Syntax filehandle.readlines()
for line in f.readlines():
    cleanedline = line.strip() 
    if cleanedline:
        print cleanedline
f.close()

dogs
frogs
bogs
logs
lots

In [40]:
fo = open('python_list.txt', 'r')
print fo.readlines()

# fo.readlines is a list of string where each item in the list is a string.

# Why does the for-loop not produce any output ??? fo.readlines position already at the end line of file
for items in fo.readlines():
    print 'inside for-loop',items
fo.close()

['dogs\n', '\n', 'frogs\n', '\n', '\n', 'bogs\n', '\n', 'logs\n', '\n', '\n', '\n', 'lots\n']

In [43]:
# tell() returns the current position within the file. 
fo = open('python_list.txt', 'r')
for items in fo.readlines():
    print items
print fo.tell()

#fo.close()

dogs



frogs





bogs



logs







lots

45

seek() changes the current file position
syntax - 
```
filehandler.seek(offset, position)
```

The number of bytes to be moved is given in offset argument.
In the position argument the bytes are to be moved is given.
position = 0, means the reference position is the beginning of the file
position = 1, means the reference position is the current position 
position = 2, means the reference position is the end of the file

In [46]:
fo.seek(3,1) # current position + 3 = 45+3
print fo.tell() 
print fo.read(5) 

fo.seek(1,0)# position back to 0+1 = 1
print fo.tell()
print fo.read(5) # read 5 from current position

fo.seek(1,2)# end position + 1 = 46
print fo.tell()
print fo.read(3)

1
ogs

In [5]:
fo.seek(0,0)
print fo.tell()
for i in fo.readlines():
    print i

0
dogs



frogs





bogs



logs







lots

In [47]:
# Writing a file
fo = open('python_list1.txt', 'w+') 
# here the text file is opened in write and read mode. 
fo.writelines('1,2,3\n')
fo.writelines('a,b,c\n')
print fo
fo.close()

fo = open('python_list1.txt', 'r')
for items in fo.readlines():
    print items.strip()
fo.close()

<open file 'python_list1.txt', mode 'w+' at 0x00000000075C7ED0>
1,2,3
a,b,c

In [48]:
# appending to a file
fo = open('python_list1.txt','a') 
# here the text file is opened in append mode
fo.writelines('little puppy\n')
fo.writelines('cute cub \n')
print fo
fo.close()

fo = open('python_list1.txt','a+')
for items in fo.readlines():
    print items.strip()
fo.close()

<open file 'python_list1.txt', mode 'a' at 0x00000000075C7ED0>
1,2,3
a,b,c
little puppy
cute cub

The with keyword is called the context manager.
It will close the file whether or not there is an exception.

In [49]:
with open('python_list1.txt', 'r') as fo:
    for items in fo.readlines():
        print items.strip()
# close does not have to be called exclusively

1,2,3
a,b,c
little puppy
cute cub

In [50]:
'''
In-class activity: Create a txt file and write names of 4 states and close 
the file. Then open the file and print each line. 
'''
fo = open("test.txt","w+") 
fo.writelines('California\n')
fo.writelines('Texas\n')
fo.writelines('Florida\n')
fo.writelines('Washington\n')
fo.close()
fo = open("test.txt","r")
for items in fo.readlines():
    print items

California

Texas

Florida

Washington

In [51]:
'''
Instead of Python 2.7 raw_input(), in Python 3, you should use input().
'''

'\nInstead of Python 2.7 raw_input(), in Python 3, you should use input().\n'

In [58]:
l = [i for i in xrange(1000) if i%3 == 0 or i%5 ==0]
print l
sum(l)

[0, 3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100, 102, 105, 108, 110, 111, 114, 115, 117, 120, 123, 125, 126, 129, 130, 132, 135, 138, 140, 141, 144, 145, 147, 150, 153, 155, 156, 159, 160, 162, 165, 168, 170, 171, 174, 175, 177, 180, 183, 185, 186, 189, 190, 192, 195, 198, 200, 201, 204, 205, 207, 210, 213, 215, 216, 219, 220, 222, 225, 228, 230, 231, 234, 235, 237, 240, 243, 245, 246, 249, 250, 252, 255, 258, 260, 261, 264, 265, 267, 270, 273, 275, 276, 279, 280, 282, 285, 288, 290, 291, 294, 295, 297, 300, 303, 305, 306, 309, 310, 312, 315, 318, 320, 321, 324, 325, 327, 330, 333, 335, 336, 339, 340, 342, 345, 348, 350, 351, 354, 355, 357, 360, 363, 365, 366, 369, 370, 372, 375, 378, 380, 381, 384, 385, 387, 390, 393, 395, 396, 399, 400, 402, 405, 408, 410, 411, 414, 415, 417, 420, 423, 425, 426, 429, 430, 432, 435, 438, 440, 441, 444, 445, 447, 450, 453, 455, 456, 459, 460, 462, 465, 468, 470, 471, 474, 475, 477, 480, 483, 485, 486, 489, 490, 492, 495, 498, 500, 501, 504, 505, 507, 510, 513, 515, 516, 519, 520, 522, 525, 528, 530, 531, 534, 535, 537, 540, 543, 545, 546, 549, 550, 552, 555, 558, 560, 561, 564, 565, 567, 570, 573, 575, 576, 579, 580, 582, 585, 588, 590, 591, 594, 595, 597, 600, 603, 605, 606, 609, 610, 612, 615, 618, 620, 621, 624, 625, 627, 630, 633, 635, 636, 639, 640, 642, 645, 648, 650, 651, 654, 655, 657, 660, 663, 665, 666, 669, 670, 672, 675, 678, 680, 681, 684, 685, 687, 690, 693, 695, 696, 699, 700, 702, 705, 708, 710, 711, 714, 715, 717, 720, 723, 725, 726, 729, 730, 732, 735, 738, 740, 741, 744, 745, 747, 750, 753, 755, 756, 759, 760, 762, 765, 768, 770, 771, 774, 775, 777, 780, 783, 785, 786, 789, 790, 792, 795, 798, 800, 801, 804, 805, 807, 810, 813, 815, 816, 819, 820, 822, 825, 828, 830, 831, 834, 835, 837, 840, 843, 845, 846, 849, 850, 852, 855, 858, 860, 861, 864, 865, 867, 870, 873, 875, 876, 879, 880, 882, 885, 888, 890, 891, 894, 895, 897, 900, 903, 905, 906, 909, 910, 912, 915, 918, 920, 921, 924, 925, 927, 930, 933, 935, 936, 939, 940, 942, 945, 948, 950, 951, 954, 955, 957, 960, 963, 965, 966, 969, 970, 972, 975, 978, 980, 981, 984, 985, 987, 990, 993, 995, 996, 999]

233168